 :root {
     --grey-100: #0D0E11;
     --grey-200: #16181D;
     --grey-300: #292C34;
     --grey-400: #878EA1;
     --grey-500: #C0C4CE;
     --grey-600: #E2E4E9;
     --main-red: #E3646E;
     --blue: #3996DB;
     --purple: #BB72E9;
 }


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     scroll-behavior: smooth;
 }

 #home {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 100vh;
     width: 100vw;
     text-align: center;
     gap: 20px;
     background-image: url(assets/956654e012b50ad1369498790e9a8bfa.png);
     background-size: cover;
     color: var(--grey-600);

     #arrows {
         position: absolute;
         bottom: 10px;
         filter: invert(100%);


     }

     #greeting {

         font-family: Inconsolata;
         font-size: 20px;

         span {
             color: var(--main-red);
         }

         h1 {
             font-size: 56px;
             font-family: asap;
         }

         #lower-text {
             font-family: Maven Pro;
             font-size: 14px;
             color: var(--grey-400);
         }
     }
 }



 #profile-picture {
     outline: 4px solid var(--main-red);
     outline-offset: 2px;

     height: 120px;
     width: 120px;
     background-image: url(assets/pfp.jpeg);
     background-size: cover;
     background-position: 2px;
     border-radius: 90%;

 }

 #code-icon {
     position: relative;
     bottom: 50px;
     left: 50px;
     background-color: var(--grey-200);
     border-radius: 30px;
 }

 #sites {
     display: flex;
     flex-direction: row;
     gap: 16px;



     .card {
         font-family: maven pro;
         height: 40px;
         width: 100px;
         background-color: var(--grey-300);
         display: flex;
         justify-content: center;
         align-items: center;
         color: var(--grey-500);
         border-radius: 90px;

     }
 }

 .icons1 {
     display: flex;
     gap: 10px;
     height: 20px;
 }

 #my-works {
     background-color: var(--grey-200);
     padding-top: 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     height: 100vh;
     width: 100vw;
     font-family: asap;
     color: var(--grey-600);
     
    

 }

 #projects {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin-top: 20px;
     width: 800px;
     gap: 10px;
     gap: 1px;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 20px;
     
 }


 .project-card {
     margin-top: 20px;
     display: flex;
     flex-direction: column;
     align-items: left;
     padding-top: 10px;
     padding-left: 10px;
     width: 300px;
     height: 280px;
     border-radius: 20px;
     background-color: var(--grey-300);



     .project-pic {
         height: 150px;
         width: 280px;
         border-radius: 20px;


     }

     #landingpage {
         background-image: url(assets/landingpage.png);
         background-size: cover;
         background-position: 20%;
     }

     #cardapio {
         background-image: url(assets/cardapio.png);
         background-size: cover;
     }

     .project-info {
         text-align: left;
         padding-top: 10px;

         #project-title {
             font-family: asap;
             font-size: 16px;

         }

         p {
             font-weight: 400;
             color: var(--grey-500);
             font-family: maven pro;
             font-size: 14px;
         }
     }

 }

 .project-card:hover {
     outline: solid 2px var(--grey-400);
 }


 
 #subtitle-my-works {
     color: var(--main-red);
     font-size: 20px;

    
 }

 #my-services {
     height: 60vh;
     width: 100vw;
     background-color: var(--grey-100);

     #text-my-services {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         align-items: center;
     }

     #subtitle-my-services {
         color: var(--main-red);
         font-family: Inconsolata;
         padding-top: 50px;
         font-size: 20px;

         h1 {
            color: var(--grey-600);
            font-family: asap;
            padding-top: 15px;
            font-size: 24px;
        }
     }

     h1 {
        color: var(--grey-600);
        font-family: asap;
        padding-top: 15px;
        font-size: 24px;
    }

     h2 {
         color: var(--grey-600);
         font-family: asap;
         padding-top: 15px;
         font-size: 16px;
         padding-bottom: 10px;
     }

     p {
        color: var(--grey-500);
        
     }


 }

 #service-cards {
     display: flex;
     justify-content: center;
     gap: 30px;


     #service1 {
         display: flex;
         align-items: flex-start;
         flex-direction: column;
         padding-top: 50px;
         padding-left: 20px;
         color: var(--grey-600);


         h1 {
             padding-bottom: 15px;
         }

         p {
             font-family: maven pro;
         }


     }

     #service2 {
         display: flex;
         align-items: flex-start;
         flex-direction: column;
         padding-top: 50px;
         padding-left: 20px;
         color: var(--grey-600);


         h1 {
             padding-bottom: 15px;
         }

         p {
             font-family: maven pro;
         }


     }

     #service3 {
         display: flex;
         align-items: flex-start;
         flex-direction: column;
         padding-top: 50px;
         padding-left: 20px;
         color: var(--grey-600);


         h1 {
             padding-bottom: 15px;
         }

         p {
             font-family: maven pro;
         }


     }

     .service-card {
         margin-top: 30px;
         width: 300px;
         height: 200px;
         border-radius: 10px;
         outline: solid var(--grey-300) 2px;

     }

 }

 #contact-me {
     width: 100vw;
     height: 100vh;
     background-image: url(assets/9c7a57e3034d0260539e4d005fcbf536.png);
     background-size: cover;

     #contact-text {
         padding-top: 90px;
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-bottom: 50px;


         h1 {
             font-family: asap;
             color: var(--grey-600);
         }

         p {
             color: var(--purple);
             font-family: Inconsolata;
         }

         span {
             color: var(--grey-500);
             font-family: maven pro;
         }
     }

     #social-cards {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         gap: 20px;



         .social-card {
             position: relative;
             height: 68px;
             width: 400px;
             border-radius: 8px;
             background-color: var(--grey-300);
         }

         #socialcard {
             display: flex;
             align-items: center;
             justify-content: flex-start;
             padding-left: 15px;

             a {
                font-style: normal;
                text-decoration: none;
                color: var(--grey-500);
             } 
             

             .arrowright {
                 position: absolute;
                 right: 20px;

             }

             gap: 10px;
             color: var(--grey-500);
             font-family: Maven pro;
         }
     }
 }

 .social-card:hover {
     outline: 2px solid var(--blue);

     .card-icon {
         fill: #3996DB;
     }
 }

 #profile-picture:hover {
    scale: 1.2;
    transition: 200ms ease-in-out;
 }